<% if Friendship.where(user_id: current_user).count > 0  %>
  <div class="index-center">
    <h1>Bookmark friends</h1>
  </div>

  <% @friend_bookmark.each_slice(5) do |friend| %>
    <div class="row">
      <% friend.each do |key, value| %>
        <div class="col-md-2">

          <% value.each do |i| %>
            <a href="<%= i[1] %>">
              <img class="rounded float-left" height="130" width="150" src="<%= i[2] %>">
            </a>
            <%= i[0] %>
            |
          <% end %>
          <%= key %>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <div class="center-content">
    <h3>You don't have any friends, you can find them
      <a href="/users/index">here</a>,<br>
      or your friends don't have any bookmar
    </h3>
  </div>
<% end %>
