<div class="index-center">
  <h2>Friends</h2>
</div>

<div class="table-content">
  <ul>
    <% for friendship in @user.friendships %>
      <li>
        <%=h friendship.friend.name %>
        <%= link_to "remove", friendship, :method => :delete %>
      </li>
    <% end %>
  </ul>
</div>
