/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
body {
  background-color: #e3f2fd !important;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -120px !important;
  margin-left: 63px !important;
  text-align: center;
}

.col-md-2 {
  -ms-flex: 0 0 16.666667% !important;
  flex: 0 0 16.666667% !important;
  max-width: 18.666667% !important;
}

.center-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.center-content-nav {
  margin-left: 42%;
}

a:hover {
  color: #fff;
  background-color: #e3f2fd !important;
}

.index-center {
  margin-left: 40%;
  padding-bottom: 25px;
  margin-top: 12px
}

ul {
  font-size: 20px !important;
}

.table-content {
  font-size: 25px;
}

td {
  font-size: 20px !important;
}

.new-form {
  margin-top: 27px;
}

.icons {
  padding-right: 5%;
  padding-top: 3%;
}
